
body{
    padding: 0;
    margin: 0;
    height: 100vh;
    background-image: url('/images/default3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#weatherContainer {
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 5px black;
    padding: 50px;
    border-radius: 10px;
    position: absolute;
    visibility: hidden;
}

#weatherContainer h1 {
    margin: 5px;
    font-size: 42px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#searchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
input{
    margin: 10px;
}
#searchContainer input {
    width: 300px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    border: none;
    box-shadow: 2px 2px 9px #000;
    
}
#searchContainer button {
    background-color:#fff;
    width: 75px;
    height: 30px;
    border-radius: 20px;
    border: none;
    box-shadow: 2px 2px 9px #000;
}
.searchControl {
    box-shadow: 2px 2px 5px black;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
#weatherMain {
    display: block;
    margin-bottom: 20px;
}
#weatherMain div {
    display: inline-block;
}
#weatherDescriptionHeader {
    font-size: 28px;
    vertical-align: 50%;
}
#temperature {
    font-size: 38px;
    vertical-align: 25%;
}
.bottom-details {
    display: block;
    font-size: 24px;
    text-align: right;
}
hr {
    margin-bottom: 20px;
}